APP_NAME="Laravel Inertia Stack"
APP_ENV=local
APP_KEY="base64:k7XaOGDe52ZOY2P77nbS6P1p7b/mMHL+aN0jzV+Usdw="
APP_DEBUG=true
APP_URL=http://localhost

PHP_CLI_SERVER_WORKERS=4

DB_DATABASE="laravel_inertia_stack"
DB_USERNAME="root"
DB_PASSWORD=null

REDIS_USERNAME=null
REDIS_PASSWORD=null

MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

TRUSTED_PROXIES=127.0.0.1
